<div class="mb-3">
  <h1>Shopping cart</h1>
</div>

<p-card>
  <ng-container *ngIf="cart$ | async as products">
    <p-table [value]="products" [tableStyle]="{ 'min-width': '60rem' }">
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          <h2>These are the products added to your cart</h2>
        </div>
      </ng-template>
      <ng-template pTemplate="header" *ngIf="cart$ | async as products">
        <tr>
          <th>Product name</th>
          <th>Image</th>
          <th>Units</th>
          <th>Unit price</th>
          <th>Subtotal</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td>{{ product.title }}</td>
          <td>
            <img [src]="product.images[0]" [alt]="product.title" width="100" />
          </td>
          <td>{{ product.units }}</td>
          <td>{{ product.price | currency : 'BRL' }}</td>
          <td>{{ product.price * product.units | currency : 'BRL' }}</td>

          <td>
            <p-button
              (onClick)="decreaseUnits(product)"
              class="mr-1"
              icon="pi pi-minus"
              styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
            <p-button
              (onClick)="increaseUnits(product)"
              class="mr-3"
              icon="pi pi-plus"
              styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>

            <p-button
              (onClick)="removeAllUnits(product.id)"
              icon="pi pi-trash"
              styleClass="p-button-rounded p-button-danger  p-button-text"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          <div>
            <div>In total there are {{ products ? products.length : 0 }} products.</div>
          </div>

          <div *ngIf="products ? products.length : 0">
            <h2>Total order: {{ totalPrice$ | async | currency : 'BRL' }}</h2>
          </div>
        </div>
      </ng-template>
    </p-table>
    <ng-container>
      <div class="flex mt-5 justify-content-between">
        <div>
          <p-button
            (onClick)="removeAllProducts()"
            icon="pi pi-trash"
            styleClass="p-button-outlined p-button-danger"
            label="Empty cart"></p-button>
        </div>
        <div>
          <p-button
            routerLink="/checkout"
            icon="pi pi-shopping-cart"
            label="Buy now"></p-button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</p-card>
