<div class="card">
  <p-card>
    <ng-template pTemplate="header">
      <img
        alt="Card"
        class="pt-2 pr-2 pl-2 pb-0"
        src="https://source.unsplash.com/random/150x150/?electronics"
    /></ng-template>
    <h1>Product Name Test</h1>

    <ng-template pTemplate="p-card-content">
      <div class="price flex gap-5">
        <p>Price:</p>
        <p>R$ 59,90</p>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <app-button
        [icon]="'pi pi-fw pi-shopping-cart'"
        [label]="'Buy'"
        [color]="'secondary'" />
    </ng-template>
  </p-card>
</div>
