<div class="flex justify-content-center align-items-center">
  <p-card header="Product Name" subheader="Product category" [style]="{ width: '220px' }">
    <ng-template pTemplate="header">
      <!-- adicionar uma imagem ao card <img alt="Card" src="image.png" />-->
    </ng-template>

    <ng-template pTemplate="p-card-content">
      <div class="price flex gap-5">
        <p>Price:</p>
        <p>R$ 59,90</p>
      </div>
    </ng-template>

    <ng-template pTemplate="footer">
      <app-button
        [icon]="'pi pi-fw pi-shopping-cart'"
        [label]="'Buy'"
        [color]="'secondary'" />
    </ng-template>
  </p-card>
</div>
