<app-config />
<p-toolbar styleClass="d-flex align-content-center  pr-5 pl-5 pt-2 ">
  <div
    class="p-toolbar-group-start d-flex justify-content-center align-items-center gap-5 pt-4 sm:pt-0">
    <div>
      <app-sidebar />
    </div>
    <div>
      <span class="cursor-pointer font-bold" style="font-size: 1.25rem" routerLink="/">
        Angular e-commerce
      </span>
    </div>
  </div>

  <div class="p-toolbar-group-end mb-4 gap-5 md: mt-4 flex-wrap">
    <ng-container *ngIf="totalUnits$ | async as total; else emptyCart">
      <i
        style="font-size: 1.5rem; color: var(--primary-color)"
        pBadge
        severity="danger"
        value="{{ total }}"
        class="icon pi pi-shopping-cart mr-2 cursor-pointer text-secondary"
        pTooltip="Você têm {{ total }} produto(s) no carrinho"
        tooltipPosition="left"
        routerLink="cart"></i>
    </ng-container>
    <i
      (click)="onConfigButtonClick()"
      class="pi pi-cog cursor-pointer"
      style="font-size: 1.5rem; color: var(--primary-color)"
      pTooltip="Acessar o menu de acessibilidade"
      tooltipPosition="left"></i>

    <ng-template #emptyCart>
      <i
        style="font-size: 1.5rem; color: var(--primary-color)"
        class="icon pi pi-shopping-cart mr-2 cursor-pointer"
        routerLink="cart"
        pTooltip="Acessar o carrinho de compras"
        tooltipPosition="left"></i>
    </ng-template>
  </div>
</p-toolbar>
