<p-toolbar styleClass="bg-primary align-items-center pt-0 pb-0">
  <div class="p-toolbar-group-start">
    <h1 class="cursor-pointer" routerLink="products">Angular Shopping</h1>
  </div>

  <div class="p-toolbar-group-end mb-4 gap-5 md: mt-4 flex-wrap">
    <div (click)="toggleTheme()" class="flex cursor-pointer">
      <i class="icon pi pi-sun mr-2" *ngIf="setButtonTheme"></i>
      <i class="icon pi pi-moon mr-2" *ngIf="!setButtonTheme"></i>
      <p *ngIf="!setButtonTheme">Dark</p>
      <p *ngIf="setButtonTheme">Light</p>
    </div>
    <app-sidebar class="mr-2" />
  </div>
</p-toolbar>
