<ng-container *transloco="let transloco">
  <p-card>
    <ng-template pTemplate="title">
      <h1 style="color: var(--primary-color); font-size: 1.2rem">
        {{ transloco('checkout.first-step.title') }}
      </h1>
    </ng-template>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="card p-fluid gap-3 col-12 flex flex-wrap formgroup-inline">
        <div class="flex-auto col-12 lg:col-12 md:col-12 sm:col-12">
          <label class="font-semibold block" for="register-button">
            {{ transloco('checkout.first-step.register') }}</label
          >

          <div class="flex-auto col-8 md:col-12 sm:col-12">
            <p-button label="Login" routerLink="/auth/login" />
          </div>
        </div>
        <!-- name -->
        <div class="flex-auto col-12">
          <label class="font-semibold block mb-2" for="name">
            {{ transloco('checkout.first-step.name') }}</label
          >
          <input
            type="text"
            pInputText
            formControlName="name"
            placeholder="{{ transloco('checkout.first-step.placeholder-name') }}" />
          <app-custom-message
            [form]="form"
            [field]="'name'"
            [maxLength]="30"
            [minLength]="5" />
        </div>

        <!-- cpf -->
        <div class="flex-auto col-12 md:col-4 sm:col-4">
          <label class="font-semibold block mb-2" for="cpf">
            {{ transloco('checkout.first-step.cpf') }}</label
          >
          <input
            type="text"
            maxlength="14"
            pInputText
            formControlName="cpf"
            placeholder="000.000.000-00" />
          <app-custom-message
            [form]="form"
            [field]="'cpf'"
            [maxLength]="11"
            [minLength]="11" />
        </div>

        <!-- email -->
        <div class="flex-auto col-12 md:col-4 sm:col-4">
          <label class="font-semibold block mb-2">
            {{ transloco('checkout.first-step.email') }}</label
          >
          <input
            type="text"
            pInputText
            formControlName="email"
            placeholder="email@email" />
          <app-custom-message [form]="form" [field]="'email'" [pattern]="'email'" />
        </div>

        <!-- mobile -->
        <div class="flex-auto col-12 md:col-4 sm:col-4">
          <label class="font-semibold block mb-2">
            {{ transloco('checkout.first-step.mobile') }}</label
          >
          <input
            type="text"
            pInputText
            formControlName="mobile"
            placeholder="+55 (00) 00000-0000" />
          <app-custom-message [form]="form" [field]="'mobile'" />
        </div>

        <!-- birthday -->
        <div class="flex-auto col-12 md:col-4 sm:col-4">
          <label class="font-semibold block mb-2">
            {{ transloco('checkout.first-step.birthday') }}</label
          >
          <input type="date" pInputText formControlName="birthday" />
          <app-custom-message [form]="form" [field]="'birthday'" />
        </div>

        <!-- password -->
        <div class="flex-auto col-12 md:col-4 sm:col-4">
          <label class="font-semibold block mb-2">
            {{ transloco('checkout.first-step.password') }}</label
          >
          <input
            class="col-3"
            type="password"
            pInputText
            formControlName="password"
            placeholder="******" />
          <app-custom-message
            [form]="form"
            [field]="'password'"
            [maxLength]="6"
            [minLength]="6" />
        </div>

        <!-- confirm password -->
        <div class="flex-auto col-12 md:col-4 sm:col-4">
          <label class="font-semibold block mb-2">
            {{ transloco('checkout.first-step.confirmPassword') }}</label
          >
          <input
            class="col-3"
            type="password"
            pInputText
            formControlName="confirmPassword"
            placeholder="******" />
          <app-custom-message
            [form]="form"
            [field]="'confirmPassword'"
            [maxLength]="6"
            [minLength]="6" />
        </div>
      </div>

      <div class="flex justify-content-end mt-4">
        <p-button type="submit">
          {{ transloco('checkout.first-step.next-step-btn') }}</p-button
        >
      </div>
    </form>
  </p-card>
</ng-container>
