<ng-container *transloco="let transloco">
  <p-sidebar [(visible)]="sidebarVisible" position="left" styleClass="min-w-min w-20rem ">
    <div class="flex align-items-center gap-2">
      <i
        style="font-size: 1.5rem; color: var(--primary-color)"
        class="icon pi pi-shopping-bag cursor-pointer"
        routerLink="cart"></i>
      <h5 class="cursor-pointer font-semibold" routerLink="products">
        Angular e-commerce
      </h5>
    </div>

    <h6>{{ transloco('sidebar.setting') }}</h6>
    <p-menu [model]="navigationMenuItems" styleClass="w-15rem"></p-menu>

    <div class="mt-4">
      <h6>{{ transloco('sidebar.categories') }}</h6>
      <p-menu [model]="categories" styleClass="w-15rem"></p-menu>
    </div>
  </p-sidebar>

  <p-button (click)="toogleSidebar()" icon="pi pi-align-justify" />
</ng-container>
