.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  & .container__router {
    padding: 2rem 2rem 0 2rem;
    height: 100vh;
  }

  & .container__footer {
    bottom: 0;
  }
}
