footer {
  background-color: var(--surface-800);
  color: var(--surface-0);
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

  & span {
    font-weight: bold;
  }
}
