<p-sidebar class="card flex justify-content-center" [(visible)]="sidebarVisible">
  <div class="mb-3">
    <h1 class="cursor-pointer mb-3 font-semibold text-primary" routerLink="products">
      Angular Shopping
    </h1>

    <h2 class="mb-3 font-normal">Panel</h2>
    <p-menu [model]="navigationMenuItems" styleClass="w-15rem"></p-menu>
  </div>

  <div class="mb-5">
    <h2 class="mb-3 font-normal">Categories</h2>

    <p-menu [model]="categories" styleClass="w-15rem"></p-menu>
  </div>
</p-sidebar>

<p-button (click)="sidebarHandler()" icon="pi pi-align-justify" />
