<ng-container *transloco="let translation">
  <p-card class="flex flex-column m-auto mt-6 lg:col-6 md:col-6">
    <div class="mb-5">
      <h5 style="color: var(--primary-color)">{{ translation('logout.title') }}</h5>
    </div>

    <div class="flex flex-row">
      <div class="flex m-auto gap-5">
        <p-button
          label="Voltar para o inicio"
          styleClass="p-button-raised p-button-text p-button-secondary"
          routerLink="/products" />

        <p-button label="Entrar novamente" routerLink="/auth/login" />
      </div>
    </div>
  </p-card>
</ng-container>
