@import 'primeflex/primeflex.scss';
@import 'primeng/resources/primeng.css';
@import 'primeicons/primeicons.css';


* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  font-size: var(--font-size);
  color: var(--text-color);
}

.p-menubar {
  padding: 0.5rem;
  background: red;
  color: #495057;
  border: 1px solid #dee2e6;
}

:root {
  --font-size: 16px;
  --background-color: var(--surface-0);
  --text-color: var(--surface-900);

  --primary-color: #543ae7;
  --secondary-color: #3f51b5;
  --surface-0: #ffffff;
  --surface-50: #f5f5f5;
  --surface-100: #ececec;
  --surface-200: #dcdcdc;
  --surface-300: #c1c1c1;
  --surface-400: #a8a8a8;
  --surface-500: #909090;
  --surface-600: #7a7a7a;
  --surface-700: #636363;
  --surface-800: #4d4d4d;
  --surface-900: #363636;
}

:root .dark {
  --font-size: 16px;
  --background-color: var(--surface-0);
  --text-color: var(--surface-900);

  --primary-color: #15258f;
  --secondary-color: #3a3496;

  --surface-0: #363636;
  --surface-50: #4d4d4d;
  --surface-100: #636363;
  --surface-200: #7a7a7a;
  --surface-300: #909090;
  --surface-400: #a8a8a8;
  --surface-500: #c1c1c1;
  --surface-600: #dcdcdc;
  --surface-700: #ececec;
  --surface-800: #f5f5f5;
  --surface-900: #ffffff;
}
